[submodule "elisp/feature-mode"]
	path = elisp/feature-mode
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "elisp/rspec-mode"]
	path = elisp/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "elisp/rvm.el"]
	path = elisp/rvm.el
	url = git://github.com/senny/rvm.el.git
